@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}
body {
    background-color: #d6e8ff;
}

/* THIS IS FOR NAVIGATION */
.header {
    background-color: #1f1f1f;
    padding: 30px 0;
    position: fixed;
    width: 100%;
    z-index: 1;
    color: #F6FAFF;
}

.logo {
    float: left;
    font-family: 'Lobster', sans-serif;
    font-size: 24px;
    }

.ctntcntr {
    width: 80%; margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}


.cntprnt {
    width: 100%; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.navspcup {
    padding-top: 6vh;
}

.fullvh {
    height: 100vh;
}

.halfvh {
    height: 80vh;
}

.bgcolora {
    background-color: #000b17;
    color: #fff;
}

.bgcolorb {
    background-color: #d6e8ff;
    color: #2c2c2c;
}

.bgcolorc {
    background-color: #e6f1ff;
    color: #2c2c2c;
}

.nav a {
    text-decoration: none;
    color: #eeeeee;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.navbtn {
    float: right;
}

.navbtn a {
    margin-left: 50px;
}

.navbtn a:hover {
    color: #ffa800;
    border-bottom: 3px solid #ffa800;
    padding-bottom: 33px;
}

  /* THIS IS FOR HOME */
.name {
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
}

.whtxt {
    color: #f1f1f1;
}

.school {
    color: #b1b1b1;
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
}

.college {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
}



/* THIS IS FOR CONTACT */
.contact {
    background-color: #001327;
    height: 100vh;
}

.contact-us-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 7%;
    align-items: center;
    color: #f1f1f1;
}

.contact-us-heading h1 {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}

.contact-us-heading p {
    display: flex;
    font-size: 20px;
    text-align: center;
}


.content {
    display: flex;
    justify-content: center;
    gap: 2%;
    width: 100%;
    margin-bottom: 10%;
}

.contact_form {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.form {
    display: flex;
    flex-direction: column;
    border: 0px solid;
    width: 90%;
}

input[type=text], textarea {
    font-size: 17px;
    margin-bottom: 40px;
    width: 100%;
    border: none !important;
    font-style: 'Poppins';
    padding-block: 15px;
    padding-inline: 20px;
    box-sizing: border-box;
    resize: none;
    font-family: 'Poppins', sans-serif;
}

textarea{
    padding-bottom: 10rem;
    margin-bottom: 25px;
}

input[type=button]{
    background-color: #A50000;
    color: white;
    width: 40%;
    padding: 17px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid transparent;
    cursor: pointer;
}

input[type=button]:hover{
    background-color: white;
    color: #A50000;
    border: 2px solid #A50000;
}

.contact-details {
    border: 10px solid #FFD6D6;
    width: 25vw;
    background-color: #FFFFFF;
    padding: 2%;
}

.note {
    margin-top: 10%;
    font-family: 'Poppins', sans-serif;
    color: #000b17;
}

.contact1, .contact1 a {
    width: 80%;
    gap: 5%;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    color: #000b17;
}

.contact1 img {
    height: 1.75rem;
}

